@function z-clamp($min, $preferred, $max, $pow: 1) {
  @if $pow > 5 {
    @error "zoom-clamp: $pow cannot exceed 5 (got #{$pow})";
  }
  $zoom-string: "";
  @for $i from 1 through $pow {
    $zoom-string: $zoom-string + "var(--zoom)";
    @if $i < $pow {
      $zoom-string: $zoom-string + " * ";
    }
  }
  @return clamp($min, calc($preferred / (#{$zoom-string})), $max);
}

@function z-fixed($value) {
  @return calc($value / var(--zoom));
}

@function z-100vh($offset: 0) {
  @return no-zoom(100vh) + $offset;
}

@function z-100vw($offset: 0) {
  @return no-zoom(100vw) + $offset;
}
